# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
.eggs/
dist/
build/
wheels/
*.egg-info/
.env
.DS_Store

# Streamlit
.streamlit/secrets.toml
